body{
padding: 0;
margin:0;
text-align: center;
}
p.cursive {
    font-family: Florence, cursive;
}
#titulo{
	color: blue;
	font-size: 30pt;
	position: relative;
	z-index:-1;
	top:30px;
	text-shadow: 5px 2px 4px grey;
}

article{
	border:1px solid green;
	margin-bottom: 5px;
}
nav {
	position: fixed;
	top:0;
	width: 100%;
    background-color:blue;
    padding: 1px;
    margin:0;
}
nav ul {
	padding: 0;
    background: linear-gradient(90deg, 
     rgba(255, 255, 255, 0) 0%, 
     rgba(255, 255, 255, 0.2) 25%, 
     rgba(255, 255, 255, 0.2) 75%, 
     rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    padding: 5px; 
    color: #FFFFFF;
    font-size: 11px;
    font-family: Arial;
    text-decoration: none;
    display: block;
 }
 
 footer{
 	border:1px solid green;
 }